@import "../../styles/variables.module.scss";

.details {
	padding-bottom: 150px;

	.separator {
		border-top: 1px solid $palleteNeutral;
		margin: 32px 0;
	}

	.pictures {
		clear: none;
		overflow: hidden;
		white-space: nowrap;
		width: 100%;
		a {
			display: none;
			&.current {
				display: block;
			}
			img {
				max-width: 100%;
			}
		}
	}

	.prices {
		margin-bottom: 32px;
		p.originalPrice {
			color: $palleteNeutralDark;
			font-size: 12px;
			text-decoration: line-through;
		}
		p.price {
			color: $pallete5;
			font-size: 24px;
			font-weight: bold;
		}
	}

	.block {
		color: $pallete1;
		font-size: 14px;

		h2 {
			font-size: 18px;
		}

		.content {
			margin: 16px 0;
			&.description {
				p {
					margin-bottom: 8px;
				}
			}
		}

		a.more {
			color: $pallete5;
			margin-top: 14px;
		}

		&.attributes {
		}


	}


	.actions {
		@include borderRadius;
		align-items: center;
		background-color: rgba($palleteNeutralDark, .25);
		bottom: 75px;
		color: $pallete1;
		display: flex;
		left: $contentPadding;
		padding: 14px;
		position: fixed;
		right: $contentPadding;

		div:nth-child(2) {
			display: flex;
			flex: 1;
			justify-content: center;
		}

		.buttonCart {
			@include borderRadius;
			@include shadow;
			align-items: center;
			background-color: $pallete2;

			display: flex;
			font-size: 16px;
			padding: 9px;
			span {
				font-weight: bold;
				padding: 0 9px;
				white-space: nowrap;
			}
		}

		.buttonFavorites {
		}
	}

	.seller {

	}
}
