@import '../../styles/variables.module.scss';

.pageTitle {
	color: $pallete1;
	font-size: 48px;
	font-weight: bold;
	line-height: 118.4%;
	&.medium {
		font-size: 36px;
	}
	&.small {
		font-size: 24px;
	}
}
