$pallete0: #9C9C9C;
$pallete1: #3B0479;
$pallete2: #F5DD06;
$pallete3: #00F1E3;
$pallete4: #FF2A4D;
$pallete5: #E000B7;
$palleteBg: #fff;
$palleteNeutral: #E0D7E9;
$palleteNeutralDark: #AEA1BC;

$borderRadius: 5px;
$contentPadding: 30px;

@mixin borderRadius {
	border-radius: $borderRadius;
}

@mixin shadow {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7),
				0px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin expandClickable($padding: 10px, $debug: false) {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		bottom: -$padding;
		left: -$padding;
		right: -$padding;
		top: -$padding;
		@if $debug == true {
			background: #e8347455;
		}
	}
}

:export {
	palleteBg: $palleteBg;
	pallete0: $pallete0;
	pallete1: $pallete1;
	pallete2: $pallete2;
	pallete3: $pallete3;
	pallete5: $pallete5;
	palleteNeutral: $palleteNeutral;
	palleteNeutralDark: $palleteNeutralDark;
}
