@import '../../styles/variables.scss';

.list {
	padding-top: 45px;
}

.category {

	$transition: .15s ease-in-out;

	button.categoryButton {
		align-items: center;
		border-bottom: 1px solid $palleteBg;
		color: $pallete5;
		cursor: pointer;
		display: flex;
		font-size: 18px;
		font-weight: bold;
		justify-content: space-between;
		padding: 15px 0;
		transition: all $transition;
		width: 100%;
		.icon {
			transition: all $transition;
		}
	}
	div {
		background-color: $palleteBg;
		box-shadow: inset 0px 0px 30px 5px $pallete3;
		margin-left: -($contentPadding*2);
		margin-right: -($contentPadding*2);
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		padding: $contentPadding $contentPadding*2;
		position: relative;
		transition: all $transition;
		ul {
			li {
				a {
					color: $pallete1;
					display: block;
					padding: 15px;
				}
			}
		}
		nav {
			align-items: flex-start;
			display: flex;
			height: 50px;
			justify-content: space-between;
			margin-top: 20px;
			width: 120px;
			button.navButton {
				color: $pallete1;
				font-size: 40px;
				margin-left: 5px;
				&:disabled {
					opacity: .3;
				}
			}
		}
	}

	&.opened {
		button {
			border-color: #ffffff00;
			.icon {
				transform: rotate(-90deg);
			}
		}
		div {
			max-height: 100vh;
			opacity: 1;
		}
	}
}
