@import "../../styles/variables.scss";


.category {
	$transitionTime: 150ms;
	$transition: $transitionTime ease-in-out;

	button.categoryButton {
		align-items: center;
		border-bottom: 1px solid $palleteBg;
		color: $pallete5;
		cursor: pointer;
		display: flex;
		font-size: 18px;
		font-weight: bold;
		justify-content: space-between;
		padding: 15px 0;
		transition: all $transition;
		width: 100%;
		.icon {
			transition: all $transition;
		}
	}
	div {
		background-color: $pallete2;
		margin-left: -($contentPadding);
		margin-right: -($contentPadding);
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		padding: $contentPadding;
		position: relative;
		transition: all $transition;
		ul {
			$transitionMargin: 150px;
			&.leaveLeft {
				animation: leave-left $transitionTime;
				@keyframes leave-left {
					0% {
						transform: translateX(0);
						opacity: 1;
					}
					100% {
						transform: translateX(-($transitionMargin));
						opacity: 0;
					}
				}
			}
			&.enterRight {
				animation: leave-right $transitionTime;
				@keyframes leave-right {
					0% {
						transform: translateX(0);
						opacity: 1;
					}
					100% {
						transform: translateX($transitionMargin);
						opacity: 0;
					}
				}
			}

			&.enterLeft {
				animation: enter-left $transitionTime;
				@keyframes enter-left {
					0% {
						transform: translateX(-$transitionMargin);
						opacity: 0;
					}
					100% {
						transform: translateX(0);
						opacity: 1;
					}
				}
			}
			&.enterRight {
				animation: enter-right $transitionTime;
				@keyframes enter-right {
					0% {
						transform: translateX($transitionMargin);
						opacity: 0;
					}
					100% {
						transform: translateX(0);
						opacity: 1;
					}
				}
			}
			li {
				font-size: 14px;
				a {
					color: $pallete1;
					display: block;
					padding: 15px;
				}
			}
		}
		nav {
			align-items: flex-start;
			display: flex;
			height: 50px;
			justify-content: space-between;
			margin-top: 20px;
			width: 120px;
			button.navButton {
				color: $pallete1;
				font-size: 40px;
				margin-left: 5px;
				&:disabled {
					opacity: 0.3;
				}
			}
		}
	}

	&.opened {
		button {
			border-color: #ffffff00;
			.icon {
				transform: rotate(-90deg);
			}
		}
		div {
			max-height: 100vh;
			opacity: 1;
		}
	}
}
