@import "../../styles/variables.module.scss";
.header {
	position: fixed;
	width: 100%;
	z-index: 10;

	* {
		transition: all 150ms;
	}

	.navigation {
		align-items: center;
		background-color: $pallete5;
		color: $palleteBg;
		display: flex;
		font-size: 0;
		justify-content: space-between;
		padding: 10px 25px;

		svg {
			height: 35px;
			width: 35px;
		}

		.menu {
			ul {
				display: none;
			}
		}

		.localesCart {
			align-items: center;
			display: flex;

			.locales {
				margin-right: 15px;
				font-size: 20px;
				font-weight: bold;
				letter-spacing: -1px;
				text-transform: uppercase;
				li a {
					@include expandClickable();
				}
			}

			.cart {
				a {
					@include expandClickable();
					p {
						align-items: center;
						aspect-ratio: 1 / 1;
						background-color: $pallete4;
						border-radius: 999px;
						display: flex;
						font-size: 12px;
						font-weight: bold;
						height: 20px;
						justify-content: center;
						letter-spacing: -1px;
						margin-left: 35px;
						position: absolute;
						text-align: center;
						transform: translate(-50%, -3px);
						z-index: 11;
					}
				}
			}
		}
	}

	.title {
		background-image: linear-gradient($palleteBg 70%, rgba($palleteBg, 0) 90%);
		padding: 70px $contentPadding;

		.back {
			align-items: center;
			color: $pallete5;
			display: flex;
			font-size: 18px;
			font-weight: bold;
			svg {
				height: 25px;
				width: 25px;
			}
		}
	}

	&.shrink {
		.title {
			padding-bottom: 15px;
			padding-top: 15px;
			.back {
				margin: -3px 0 0 -10px;
				position: absolute;
				svg {
					height: 30px;
					width: 30px;
				}
				span {
					display: none;
				}

				& + h1 {
					padding-left: 20px;
				}
			}
			h1 {
				font-size: 22px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
			}
		}
	}
}
