@import '../../styles/variables.scss';

.mercadoLivre {
	background-color: $palleteBg;
	color: $pallete0;
	padding: 10px;
	text-align: center;
}

.main {
	background-color: $pallete3;
	padding: 30px;
}
