@import "../../styles/variables.module.scss";

.main {
	background-color: $palleteBg;
	clear: both;
	padding: $contentPadding;
}

.overlay {
	animation: fade-in .4s ease-in both;
	align-items: center;
	background: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(15px);
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100vw;
	z-index: 20;

	.window {
		animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

		@include borderRadius;
		@include shadow;
		background-color: $palleteNeutral;
		padding: 17px;
		width: 300px;
		header {
			align-items: center;
			color: $pallete1;
			justify-content: space-between;
			display: flex;
			font-size: 16px;
			h2 {
				font-size: 18px;
			}
			.close {
				transform: translateX(25%);
				@include expandClickable();
			}
		}
		.content {
		}
	}
}

.preventScroll {
	height: 100vh;
	overflow: hidden;
	transition: all 150ms ease-out;
}

@keyframes slide-top {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
