@import '../../../styles/variables.module.scss';

.attributes {
	@include borderRadius;
	background-color: $palleteNeutral;
	overflow: hidden;
	// table-layout: fixed;
	width: 100%;
	* {
		margin: 0;
		padding: 0;
	}
	tr {
		$padding: 15px;
		th, td {
			padding: $padding;
		}
		th {
			padding-right: $padding + 5;
			text-align: left;
			width: 1%;
		}
		td {
			background-color: lighten($palleteNeutral, 1.5%);
			padding-left: $padding + 5;
		}

		&:nth-child(even) {
			th {
				background-color: lighten($palleteNeutral, 3%);
			}
			td {
				background-color: lighten($palleteNeutral, 4.5%);
			}
		}
	}
}
